/* Here is stylized everything related to the game */
:root{
    --tictac-lines: 1px dashed orange;
    --tictac-dimension: 400px;
}
#tac-board{
    width: var(--tictac-dimension);
    height: var(--tictac-dimension);
    background-color: rgb(43, 43, 42);
    border: 1px solid orange;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 5px;
    box-shadow: 2px 2px 20px 1px rgba(255, 166, 0, 0.322);
    
}
.caseboard{
    /* background-color: rgba(240, 248, 255, 0.158); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.c-board-1{
    border-right: var(--tictac-lines);
    border-bottom: var(--tictac-lines);
}
.c-board-2{
    border-right: var(--tictac-lines);   
    border-bottom: var(--tictac-lines);   
}
.c-board-3{  
    border-bottom: var(--tictac-lines);   
}
.c-board-4{
    border-bottom: var(--tictac-lines);   
}
.c-board-5{
    border-right: var(--tictac-lines);   
    border-left: var(--tictac-lines);   
    border-bottom: var(--tictac-lines);   
}
.c-board-6{
    border-bottom: var(--tictac-lines);   
}
.c-board-7{
    border-right: var(--tictac-lines);   
}
.c-board-8{
    border-right: var(--tictac-lines);   
}

/* Designing crosses */
.cross-mark, .circle-mark{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-cross{
    position: absolute;    
    height: 90%;
    width: 7%;
    background-color: white;
    border-radius: 5px;
}
.x-cross-1{
    transform: rotateZ(45deg);
}
.x-cross-2{
    transform: rotateZ(-45deg);
}
.m-circle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 8px solid white;
    border-radius: 50%;
    transform: scale(0.8);
}

/* Buttons for game control */
#game-controller{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.game-btn{
    width: 7em;
    font-size: 1em;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 2px;
    letter-spacing: 2px;
}

/* Winner windows popup */
#winner-box{
    background-color: rgba(0, 0, 0, 0.199);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popin .4s ease-in-out;
}
@keyframes popin {
    from {opacity: 0;}
    to {opacity: 1;}
}
#winpop{
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: winSlide .3s linear;
}
@keyframes winSlide {
    from {transform: translateY(30px);}
    to {transform: translateY(0);}
}
#winpop-btn{
    background-color: transparent;
    border: 1px solid black;
    color: white;
    transition: .5s;
    cursor: pointer;
    box-shadow: rgb(8, 8, 8) 10px 10px 10px -5px,
    rgba(217, 236, 236, 0.26) -10px 10px 10px -5px;
}
#winpop-btn:hover{
    background-color: rgba(98, 171, 194, 0.267);
    border-radius: 20px;
    transition: .5s;
}
#winpop-text{
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 2em;
    margin: 20px 0;
}
.winner-name{
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 209, 149);
}
.is-blured-due-to-popup{
    filter: blur(2px);
}