*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(7, 24, 41);
}
#contain-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
#current-player{
    margin: 20px 0;
    color: wheat;
    letter-spacing: 2px;
}